body{
    margin:0;
}
/* part one */
.portfolio{
    height: 864px;
    background-color: #2d303a;
    overflow: hidden;
    margin: 0;
    padding: 0;
  
}
.portfolio-heading{
    margin-top: 10px;
    margin-bottom: 26px;
    width: 121px;
    height: 23px;
    color: #666d89;
    font-size: 30px;
    font-weight: 700;
    line-height: 17.86px;
}
.portfolio-description{
    height: 17px;   
    width: 750px;
    color: #767e9e;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.1px;
    word-spacing: -2px;

}
.filtr-buttons{
    width: 287px;
    display: flex;
    justify-content: space-between;
    margin-left: 2px;
}
.filtr-button{
    background-color: #2d303a;
    height: 22px;
    border-radius: 5px;
    border: 1px solid #666d89;
    color: #767e9e;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.1px;
    cursor: pointer;
}
.filtr-button.active {
    color: #dedede;    
    border: 1px solid #666d89;
}
.portfolio-text-wrapper{
    padding: 61px 500px 0px 39px;
}

.portfolio-photos {
    width: 1020px;
    height: 595px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 40px 73px 40px;
}
.flex-item {
    width: 220px;
    height: 187px;
    margin:20px 0px 0px 20px;
    padding: 0;
}
.flex-item-1{
    background-image: url("./assets/portfolio-1.png");
    background-position: bottom -39px right -10px;
    margin-left:0;
}
.flex-item-2{
    background-image: url("./assets/portfolio-2.png");
    background-position: bottom -43px left -81px;
}
.flex-item-3{
    background-image: url("./assets/portfolio-3.png");
    background-position: bottom 190px right -19px;
}
.flex-item-4{
    background-image: url("./assets/portfolio-4.png");
    background-position: bottom -6px right -17px;
}
.flex-item-5{
    background-image: url("./assets/portfolio-5.png");
    background-position: bottom -72px right -12px;
    margin-left:0;
}
.flex-item-6{
    background-image: url("./assets/portfolio-6.png");
    background-position: bottom -2px right -22px;
}
.flex-item-7{
    background-image: url("./assets/portfolio-7.png");
    background-position: bottom 227px right -121px;
}
.flex-item-8{
    background-image: url("./assets/portfolio-8.png");
    background-position: bottom -58px right -34px;
}
.flex-item-9{
    margin-left:0;
    background-image: url("./assets/portfolio-9.png");
    background-position: bottom -1px right -18px;
}
.flex-item-10{
    background-image: url("./assets/portfolio-10.png");
    background-position: bottom 301px right -113px;
}
.flex-item-11{
    background-image: url("./assets/portfolio-11.png");
    background-position: top 236px right -50px;
}
.flex-item-12{
    background-image: url("./assets/portfolio-12.png");
    background-position: top -61px right -40px;

}
.portfolio-bottom{
    width: 1020px;
    height: 6px;
    background-color: #323746;
    margin:0;
    padding:0;
}
/* part two*/
.about-us-wrapper{
    height: 728px;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.about-us-text{
    padding: 40px 0px 10px 40px;
}
.about-us-heading{
    height: 23px;
    color: #666d89;
    font-size: 30px;
    font-weight: 700;
    line-height: 17.86px;
    margin: 0 0 24px 0;
    padding-top: 29px;
    word-spacing: -3px;
    letter-spacing: -0.6px
}
.about-us-description{
    width: 950px;
    height: 47px;
    color: #767e9e;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -1px;
    word-spacing: 3px
}
.about-person-wrapper{
    width:300px;
    height: 433px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: -21px;
}

.person-name{
    max-width: 280px;
    height: 14px;
    color: #666d89;
    font-size: 18px;
    font-weight: 700;
    line-height: 17.86px;
    
}
.person-name.one{
    margin: 5px 0 10px 39px;
    letter-spacing: -1px;
}
.person-name.two, .person-name.three{
    letter-spacing: -0.8px;
    word-spacing: 1px;
}
.person-description{
    width: 301px;
    height: 32px;
    color: #767e9e;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
}
.person-description.one{
    margin: 13px 0 0 40px;
}
.person-photo-1{
    margin: 49px 20px 13px 40px;
    width: 300px;
    height: 300px;
}
.person-photo-2{
    margin: 49px 20px 10px 0px;
    width: 300px;
    height: 300px;
}
.person-photo-3{
    margin: 49px 40px 19px 0px;
    width: 300px;
    height: 300px;
}
.person-contacts{
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}
.person-contacts.one{
    padding: 32px 4px 10px 39px;
}
.person-contacts.two{
    padding: 33px 4px 10px 0px;
}
.person-contacts.three{
    padding: 32px 4px 10px 0px;
}
.about-us-bottom{
    height: 6px;
    background-color: #ffffff;
}