@import "fonts.css";
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    width: 100vw;
    max-width: 1020px;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    padding: 0;
    z-index: 0;
}

#home {
    scroll-margin-top: 190px;
}

/* SINGOLO-1*/

/* HEADER BEGINS */

header {
    width: 100vw;
    height: 95px;
    max-width: 1020px;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #2d303a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 6px solid #323746;
}

h1 {
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin: 34px 0 41px 40px;
}

.star {
    color: #f06c64;
}

.navbar {
    font-size: 12px;
    font-weight: 700;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 40px 42px 0;
}

.nav-style {
    text-decoration: none;
    color: #F6F6F7;
    cursor: pointer;
}

.nav-style.active {
    display: inline;
    color: #f06c64;
}

.nav-style:not(.active):hover {
    color: #f06c64;
    transition-duration: 0.3s;
    text-decoration: underline;
}

.nav__item:not(:last-child)::after {
    content: "•";
    color: #dedede;
    margin: 0 10px;
}

nav {
    height: 8.7%;
}

/* SLIDER BEGINS */

/* CAROUSEL */

.carousel {
    background-color: #F06C64;
    margin-top: 95px;
    border-bottom: 6px solid #ea676b;
}

.items-container {
    position: relative;
    width: 100%;
    height: 58vw;
    max-height: 600px;
    max-width: 1020px;
    overflow: hidden;
}

.item {
    display: none;
    position: relative;
    margin: 0 auto;
    animation: 0.5s ease-in-out;
}

.item.active, .next {
    display: block;
    z-index: 2;
    position: relative;
    background-color: #f06c64;
    height: 58%;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2%;
    cursor: pointer;
}

.control.left {
    top: 41%;
    left: 40px;
    margin-left: 2vw;
    z-index: 2;
}

.control.right {
    top: 41%;
    right: 40px;
    margin-right: 2vw;
    z-index: 2;
}

.arrow {
    display: inline-block;
    position: absolute;
    z-index: 10;
}

.left-arr, .right-arr {
    position: absolute;
    top: 28%;
    left: 2%;
    cursor: pointer;
}

.to-left {
    animation-name: left;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

.from-right {
    animation-name: right;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.phone-1 {
    position: absolute;
    top: 10px;
    left: 110px;
    cursor: pointer;
    z-index: 1;
}

.phone-2 {
    position: absolute;
    top: 69px;
    left: 350px;
    cursor: pointer;
    z-index: 2;
}

.black-screen-1.active {
    display: block;
    position: absolute;
    top: 140px;
    left: 124px;
    cursor: pointer;
    z-index: 7;
}

.black-screen-1 {
    display: none;
}

.black-screen-2.active {
    display: block;
    transform: rotate(90deg);
    position: absolute;
    top: 112px;
    left: 544px;
    cursor: pointer;
    z-index: 3;
}

.black-screen-2 {
    display: none;
}

.second-slider {
    position: absolute;
    top: 0;
    left: 0;
}

/* ARROWS */

.ar-left:hover {
    opacity: 0.5;
    transition-duration: 0.3s;
}

.ar-right:hover {
    opacity: 0.5;
    transition-duration: 0.3s;
}

/* OUR SERVICES */

.our-services {
    background-color: #f2f2f2;
    margin: 0;
    scroll-margin-top: 94px;
    color: #767e9e;
    border-bottom: 6px solid #ffffff;
}

.services-container {
    /* width: 938px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;
    margin-top: 30px;
}

.section {
    padding: 73px 40px;
}

.section-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
}

.section-description {
    font-weight: 300;
    font-size: 17px;
    text-align: justify;
    line-height: 30px;
    margin-top: 15px;
}

.services-description {
    font-weight: 300;
    color: #767e9e;
    font-size: 17px;
    text-align: justify;
    line-height: 30px;
}

.small-block {
    width: 299px;
    height: 86px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block-description {
    width: 220px;
    height: 52px;
    color: #767e9e;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    margin-top: 5%;
}

.block-heading {
    width: 200px;
    height: 17px;
    color: #666d89;
    font-size: 18px;
    font-weight: 700;
    font-family: "Lato-Black", sans-serif;
}

.small-block.pen, .small-block.heart, .small-block.bulb {
    margin-top: 15.5px;
}

.small-block.phone, .small-block.bubble, .small-block.star {
    margin-top: 37px;
}

.miniature {
    overflow: hidden;
    display: flex;
}

/*SINGOLO-2*/

body {
    margin: 0;
}

/* part one */

.portfolio {
    background-color: #2d303a;
    margin: 0;
    color: #767e9e;
    scroll-margin-top: 94px;
    border-bottom: 6px solid #323746;
}

.filtr-buttons {
    width: 287px;
    display: flex;
    justify-content: space-between;
    margin-left: 2px;
    margin-bottom: 8px;
    margin-top: 1%;
}

.filtr-button {
    background-color: #2d303a;
    border-radius: 5px;
    border: 1px solid #666d89;
    color: #767e9e;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.09px;
    word-spacing: -2px;
    cursor: pointer;
    padding: 5px;
}

.filtr-button:not(.active):hover {
    color: #2d303a;
    background-color: rgb(233, 224, 224);
    border: 2px solid #a8a4a4;
    transition-duration: 0.3s;
}

.filtr-button.active {
    color: #dedede;
    border: 1px solid #c5c5c5;
}

.portfolio-text-wrapper {
    padding: 61px 500px 0px 39px;
}

.portfolio-photos {
    width: 93vw;
    max-width: 940px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-photos:nth-child(n+12) {
    display: none;
}

.flex-item.active {
    outline: 5px solid #F06C64;
    max-width: 220px;
    max-height: 187px;
    width: 51%;
    height: 35.1vw;
    cursor: pointer;
    margin: 20px 0 0 0;
}

.flex-item:not(.active) {
    max-width: 220px;
    max-height: 187px;
    width: 51%;
    height: 35.1vw;
    cursor: pointer;
    margin: 20px 0 0 0;
}

.flex-item-1 {
    background-image: url("./assets/portfolio-1.png");
    background-position: bottom -39px right -10px;
}

.flex-item-2 {
    background-image: url("./assets/portfolio-2.png");
    background-position: bottom -72px right -12px;
}

.flex-item-3 {
    background-image: url("./assets/portfolio-3.png");
    background-position: bottom -1px right -18px;
}

.flex-item-4 {
    background-image: url("./assets/portfolio-4.png");
    background-position: bottom -43px left -81px;
}

.flex-item-5 {
    background-image: url("./assets/portfolio-5.png");
    background-position: bottom -2px right -22px;
}

.flex-item-6 {
    background-image: url("./assets/portfolio-6.png");
    background-position: bottom 301px right -113px;
}

.flex-item-7 {
    background-image: url("./assets/portfolio-7.png");
    background-position: bottom 190px right -19px;
}

.flex-item-8 {
    background-image: url("./assets/portfolio-8.png");
    background-position: bottom 227px right -121px;
}

.flex-item-9 {
    background-image: url("./assets/portfolio-9.png");
    background-position: top 236px right -50px;
}

.flex-item-10 {
    background-image: url("./assets/portfolio-10.png");
    background-position: bottom -6px right -17px;
}

.flex-item-11 {
    background-image: url("./assets/portfolio-11.png");
    background-position: bottom -58px right -34px;
}

.flex-item-12 {
    background-image: url("./assets/portfolio-12.png");
    background-position: top -61px right -40px;
}

/* part two*/

.about-us-wrapper {
    background-color: #f2f2f2;
    margin: 0;
    color: #767e9e;
    scroll-margin-top: 94px;
    border-bottom: 6px solid #ffffff;
}

.about-person-wrapper {
    display: grid;
    margin-top: 44px;
    grid-template-columns: minmax(min-content, 29.41vw) minmax(min-content, 29.41vw) minmax(min-content, 29.41vw);
    gap: 1.96vw 1.96vw;
}

.person-photo-1, .person-photo-2, .person-photo-3 {
    width: 28.41vw;
    height: 28.41vw;
    max-width: 300px;
    max-height: 300px;
    background-size: cover;
}

.person-photo-1 {
    background-image: url("./assets/about-us-1.svg");
}

.person-photo-2 {
    background-image: url("./assets/about-us-2.svg");
}

.person-photo-3 {
    background-image: url("./assets/about-us-3.svg");
}

.person-name {
    color: #666d89;
    font-size: 18px;
    font-weight: 700;
    line-height: 17.86px;
}

.person-name p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5%;
}

.person-description {
    color: #767e9e;
    font-size: 12px;
    font-weight: 400;
    line-height: 21.56px;
    text-align: justify;
    margin-top: 5%;
}

.person-contacts {
    width: 152px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 11.5px 0px 0px 1px;
    cursor: pointer;
}

.logo {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.logo:hover {
    opacity: 0.5;
    transition-duration: 0.3s;
}

/*SINGOLO-3*/

.get-a-quote-wrapper {
    /* height: 648px; */
    background-color: #f06c64;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    scroll-margin-top: 94px;
    border-bottom: 6px solid #ea676b;
    color: #f2f2f2;
}

.form-contacts-wrapper {
    width: 100%;
    height: 370px;
    display: flex;
    flex-direction: row;
    padding-bottom: 48px;
}

.form {
    width: 84vw;
    max-width: 620px;
    padding: 0;
}

.input-info, .textarea-info {
    width: 100%;
    height: 38px;
    background-color: #d6564f;
    border-radius: 5px;
    border: hidden;
    margin: 16px 5px 0px 5px;
    padding: 0;
    color: #f48c8f;
    padding: 0 0 0 14px;
}

.textarea-info {
    height: 191px;
    outline: none;
    resize: none;
    padding: 11px 0 0 14px;
}

::-webkit-input-placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-family: "Lato", sans-serif;
}

::-webkit-input {
    color: #f48c8f;
    font-size: 12px;
    font-family: "Lato", sans-serif;
}

::-moz-placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-family: "Lato", sans-serif;
}

/* Firefox 19+ */

:-moz-placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-family: "Lato", sans-serif;
}

/* Firefox 18- */

:-ms-input-placeholder {
    color: #f48c8f;
    font-size: 12px;
    font-family: "Lato", sans-serif;
}

.submit {
    background-color: #f0d8d9;
    color: #d6564f;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 15%;
}

.submit:hover {
    background-color: #d6564f;
    color: #f0d8d9;
    font-weight: 700;
    transition-duration: 0.3s;
}

.contact-info {
    height: 187px;
    width: 301px;
    margin: 16px 0 0 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.contact-header {
    width: 165px;
    height: 14px;
    color: #f0d8d9;
    font-size: 18px;
    font-weight: 400;
    line-height: 17.86px;
}

.contact-text-wrapper {
    color: #f0d8d9;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
}

.contact-text-p {
    max-width: 299px;
    text-align: justify;
    margin-top: 4%;
}

.contact-items {
    padding-top: 11px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-weight: 400;
}

.location, .tel-number, .mail {
    width: 150px;
    height: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.location-description p {
    margin: 0;
    padding-right: 6px;
}

.location-icon {
    padding-left: 2.5px;
    padding-top: 0.5px;
}

.tel-number-description {
    padding: 100;
}

.number-icon {
    padding-top: 5px;
}

.tel-number-description a {
    text-decoration: none;
    color: #f0d8d9;
    padding-right: 8px;
}

.tel-a:hover {
    text-decoration: underline;
}

.mail-a {
    margin: 0;
    padding-top: 3px;
    padding-left: 10px;
    text-decoration: none;
    color: #f0d8d9;
}

.mail-a:hover {
    text-decoration: underline;
}

.mail-logo {
    padding-top: 10px;
}

.tel-number {
    width: 120px;
}

/* модалочка */

.hidden {
    display: none;
}

#message-block.hidden {
    display: none;
}

#message-block {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    border: 2px solid #f0d8d9;
    text-align: center;
    color: #f0d8d9;
    background-color: rgba(221, 56, 56, 0.7);
}

#message {
    position: fixed;
    top: 40%;
    left: 40%;
    border: 2px solid #f0d8d9;
    padding: 10px;
    background-color: #a0241e;
    text-align: center;
}

#close-btn {
    background-color: #F06C64;
    border-color: #f0d8d9;
    color: #f0d8d9;
    cursor: pointer;
}

/* FOOTER */

footer {
    margin: 0;
    padding: 0;
    height: 76px;
    background-color: #2d303a;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 23px 42px 0 50px;
}

.footer-logo {
    margin: 0 4px;
}

.copyright p {
    margin: 0;
    font-size: 12px;
    padding: 31px 0 0 42px;
    letter-spacing: -0.1px;
    color: #666D89;
}

/* MEDIA */

@media (min-width: 1020px) {
    #wrapper {
        max-width: 1020px;
        margin: 0 auto;
    }
}

@media (max-width: 1019px) {
    
    .items-container>* {
        transform: scale(0.75);
    }
    .arrow {
        transform: scale(1.3)
    }
    .services-container {
        max-width: 687px;
    }
    .get-a-quote-wrapper {
        display: block;
    }
    .contact-text-wrapper {
        max-width: 221px;
        max-height: 225px;
        margin-top: 16px;
    }
    .our-services {
        border-bottom: 0px;
    }
    .about-us-wrapper {
        border-bottom: 0px;
        ;
    }
    .second-slider {
        top: -6vw;
        left: -17vw;
        z-index: 1;
        width: 134vw;
        height: 78vw;
        background-size: cover;
    }
    .phone-1 {
        left: -18px;
        top: -60px;
    }
    .black-screen-1.active {
        left: -5px;
        top: 73px;
    }
    .phone-2 {
        left: 235px;
        top: 29px;
    }
    .black-screen-2.active {
        top: 73px;
        left: 430px;
    }
    .portfolio-photos {
        width: 90vw;
    }
    .flex-item:not(.active), .flex-item.active {
        max-width: 216.19px;
        max-height: 183.76px;
    }

    .form{
        width: 57.55vw;
    }
    .control.left{
        left: 3.65vw;
    }
    .control.right{
        right: 3.65vw;
    }
  
}

@media (max-width: 767px) {
    
    header {
        height: 71px;
    }

    .items-container>* {
        transform: scale(0.35);
    }

    .arrow {
        transform: scale(2.6)
    }
    .control.left, .control.right{
        top: 20%;
    }
    .copyright{
        display: none;
    }
    .social-media{
        margin: 0 auto;
    }
    .carousel{
        margin-top: 71px;
    }

    .phone-1{
        left: -157px;
        top: -90px;
    }
    .black-screen-1.active{
        left: -145px;
        top: 41px;
    }
    .phone-2{
        left: 60px;
        top: -4px;
    }
    .black-screen-2.active{
        left: 252px;
        top: 40px;
    }

    .person-photo-1, .person-photo-2, .person-photo-3 {
        min-width: 314px;
        min-height: 314px;
    }
    .about-person-wrapper {
        grid-template-columns: 83.73vw;
        grid-template-rows: minmax(440px, 117.33vw) minmax(440px, 117.33vw) minmax(440px, 117.33vw);
        gap: 8.96vw 1.96vw;
    }
    .flex-item:not(.active), .flex-item.active {
        max-width: 151px;
        max-height: 128px;
        margin: 14px 0 0 0;
    }
    .section{
        padding: 19.47vw 8vw;
    }
    .portfolio-photos{
        width: 84vw;
    }

    .get-a-quote-wrapper{
        height: 996px;
        padding-bottom: 42px;
    }

    .form-contacts-wrapper{
        height: 596px;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
    .contact-info{
        padding: 0 0 0 5px;
        margin: 0;
    }
    .contact-text-wrapper{
        max-width: 315px;
        margin: 0;
    }
    .form{
        width: 100%;
        max-height: 309px;
    }
    .input-info, .textarea-info{
        margin: 12px 5px 0px 5px;
    }
    #description{
        max-height: 159px;
    }
}